.app {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin: 10px;
}

.title {
  color: rgb(34, 34, 34);
  font-size: 14px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-content: space-between;
}